//Base
$white: #FFFFFF;
$orange: #F97A58;
$light-orange: #ffa695;
$dark-green: #093238;
$light-green: #537074;
$grey: #6B8488;
$transparent: #FFFFFF33;
$transparent-green: #29545B33;
$light-grey: #D4DDDE;
$greyer: #E5EAEB;
$dark-grey: #48455D;