//Base
$white: #FFFFFF;
$light-grey: #EFEFF1;
$stroke: #262626;

//Primary
$primary-10: #D3D0D0;
$primary-20: #A7A0A0;
$primary-30: #7B7272;
$primary-40: #9595C2;
$primary-50: #1C1A1A;
$primary-60: #161515;
$primary-70: #111010;
$primary-80: #0B0A0A;
$primary-90: #060505;

//Accent
$accent-10: #F4D0D0;
$accent-20: #EAA1A1;
$accent-30: #DF7272;
$accent-40: #D44343;
$accent-50: #B52929;
$accent-60: #912121;
$accent-70: #6D1919;
$accent-80: #481010;
$accent-90: #240808;

//Success
$success-10: #D1F5E1;
$success-20: #A2EBC4;
$success-30: #74E1A6;
$success-40: #46D688;
$success-50: #29BB6C;
$success-60: #219656;
$success-70: #197041;
$success-80: #104B2B;
$success-90: #082516;

//Warning
$warning-10: #FEE6D8;
$warning-20: #FECCB0;
$warning-30: #FDB389;
$warning-40: #FD9961;
$warning-50: #FC803A;
$warning-60: #F45B04;
$warning-70: #B74403;
$warning-80: #7A2D02;
$warning-90: #3D1701;

//Danger
$danger-10: #FFD7D7;
$danger-20: #FFAFAF;
$danger-30: #FF8888;
$danger-40: #FF6060;
$danger-50: #FF3838;
$danger-60: #F90000;
$danger-70: #BB0000;
$danger-80: #7C0000;
$danger-90: #3D1701;