@import "colors";

body {

}
a {
  text-decoration: none;
  font-family: BarlowCondensed, sans-serif;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.mobile {
  @media screen and (min-width: 980px){
    display: none !important;
  }
}

.desktop {
  @media screen and (max-width: 980px){
    display: none !important;
  }
}

.gradient-border {
  border: 1px solid transparent;
  background-image: linear-gradient(303deg, $orange, transparent), linear-gradient(134deg, $orange, transparent  63.03%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.socials_wrap {
  display: flex;
  align-items: center;

  a {
    margin-left: 12px;
    filter: brightness(9999);
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}

.wp-block-group.is-style-image {
  background-image: url(../img/static/dark-bg.png);
  background-size: cover;
  background-position: bottom;

  section {
    .container {
      .heading,
      .body {
        color: $white;
      }
    }
  }
}

section {
  overflow: hidden;

  .container {
    .heading,
    .body {
      color: $dark-green;
    }
  }
}