//Headlines
* {
  font-family: 'BarlowCondensed', sans-serif;
}

.heading {
  font-family: 'BarlowCondensed', sans-serif;

  em {
    color: $orange;
  }

  &-h1 {
   font-weight: 700;
   font-size: 84px;
   line-height: 84px;
    @media screen and (max-width: 980px) {
      font-size: 38px;
      line-height: 38px;
    }
  }

  &-h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    @media screen and (max-width: 980px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &-h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    @media screen and (max-width: 980px) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &-h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    @media screen and (max-width: 980px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &-h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
  }

  &-h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}


.body {
  font-family: 'BarlowCondensed', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  @media screen and (max-width: 980px) {
    font-size: 16px;
    line-height: 20px;
  }

  &.body-14 {
    font-size: 14px;
    line-height: 14px;
  }

  &.bold {
    font-weight: 600;
  }
}