@import "../generals/colors";

.baner {
  background-color: $dark-green;
  position: relative;

  .container {
    position: relative;
    z-index: 5;

    .baner__texts {
      width: 100%;
      max-width: 523px;
      position: relative;
      z-index: 5;
      padding: 141px 0;
      margin-left: calc(20% - 523px / 2);
      //@media screen and (max-width: 1500px) {
      //  margin-left: 32px;
      //}
      @media screen and (max-width: 980px) {
        padding: 320px 16px 48px 16px;
        margin: 0;
        //position: absolute;
        //bottom: 0;
        //left: 0;
        max-width: 100%;
      }


      .title {
        margin-bottom: 32px;
        text-transform: uppercase;
        color: $white;
        @media screen and (max-width: 980px) {
          margin-bottom: 28px;
        }
      }

      .text {
        margin-bottom: 32px;
        color: $white;
        @media screen and (max-width: 980px) {
          margin-bottom: 28px;
        }
      }

      .button {
        @media screen and (max-width: 980px) {
          width: 100%;
        }
      }
    }
  }

  .swiper-slide {
    display: flex !important;
    height: initial !important;
  }

  .baner-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__wrap {
    display: flex;
    width: 100%;
    position: relative;
    @media screen and (max-width: 980px) {

    }

    .gradient-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .banner_bg {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      right: 0;
      top: 0;
      @media screen and (max-width: 980px) {
        position: static;
        height: auto;
        width: 100%;
      }
    }
  }

  .baner_pagination {
    position: absolute;
    z-index: 2;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 16px 0;

    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
      background-color: $white;
    }
  }
}