.icons_slider {
  padding: 40px 0;
  @media screen and (max-width: 980px){
    padding: 24px 0;
  }



  .container {
    max-width: 100%;
    @media screen and (max-width: 980px){
      padding: 0;
      max-width: 100%;
    }
  }

  .title {
    margin-bottom: 32px;
    text-align: center;
    text-transform: uppercase;
  }

  .splide__slide {
    padding: 0 24px;
  }

  .icons_slick {
    padding: 28px 0;

    .slick-slide {
      max-height: 40px;
      margin-right: 58px;

      img {
        max-height: 40px;
      }
    }
  }

}

.wp-block-group.is-style-image {
  .icons_slick {
    background-color: #002E33;
  }
}