@import "../generals/colors";

.projects_buy {
  padding: 80px 0;
  @media screen and (max-width: 980px){
    padding: 40px 0;
  }

  &__head {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 42px;
    @media screen and (max-width: 980px){
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    button {
      min-width: 114px;
      @media screen and (max-width: 980px){
        width: calc(50% - 6px);
      }
      &:first-of-type {
        margin: auto 10px 0 auto;
        @media screen and (max-width: 980px){
          margin: 0 12px 0 0;
        }
      }
    }
  }

  &__texts {
    max-width: 630px;
    @media screen and (max-width: 980px){
      width: 100%;
      max-width: 100%;
      margin-bottom: 24px;
    }
    .title {
      margin-bottom: 32px;
      color: $dark-green;
    }
  }

  &__main {
    width: 100%;
    position: relative;

    .projects_buy__grid {
      display: none;
      opacity: 0;
      transition: opacity .5s .5s;

      &.active {
        display: grid;
        opacity: 1;
      }
    }

    .show-more {
      margin: 40px auto auto;
    }

    &__decor {
      position: absolute;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 9px;
      row-gap: 9px;
      width: 100%;
      height: calc(100% - 58px);
      top: 0;

      &.left {
        right: calc(100% + 9px);
      }

      &.right {
        left: calc(100% + 9px);
      }

      &.center {
        left: 50%;
        transform: translateX(-50%);
      }

      .card-empty {
        //border: 1px solid $grey;
        background-color: #F0F3F3;
        border-radius: 24px;
      }
    }
  }

}

.projects_buy__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9px;
  row-gap: 9px;
  @media screen and (max-width: 980px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects_buy-card {
    width: 100%;
  }
}

.projects_buy-card {
  border-radius: 24px;
  transition: all .5s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  height: 306px;

  &:hover {
    //border-color: $grey;
    //-webkit-box-shadow: 2px 3px 15px 3px rgba(9,50,56,0.38);
    //-moz-box-shadow: 2px 3px 15px 3px rgba(9,50,56,0.38);
    //box-shadow: 2px 3px 15px 3px rgba(9,50,56,0.38);

    .projects_buy-card__img img{
      transform: scale(1.1);
    }
  }

  &__img {
    position: relative;
    //padding-top: 58%;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    background-color: $dark-green;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: all .5s;
    }
  }

  &__texts {
    height: 91px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFFFFCC;
    @media screen and (max-width: 980px){
      height: 68px;
    }

    .title {
      color: $dark-green;
    }

    .sold-label {
      display: block;
      padding: 8px 24px;
      font-weight: 600;
      line-height: 21.6px;
      text-transform: uppercase;
      color: $white !important;
      background-color: $transparent;
      border-radius: 4px;
      position: absolute;
      left: 8px;
      bottom: calc(100% + 8px);
      z-index: 1;
    }
  }

  .button-pay {
    margin: auto 10px auto auto;
  }

  .arrow-button {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.sold {
    .projects_buy-card__img {
      img {
        opacity: .3;
      }
    }
  }
}