@import "../generals/colors";

.project_foot {
  padding: 64px 0;
  background-size: cover;
  background-position: left top;
  @media screen and (max-width: 920px){
    padding: 32px 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;

    .section-title {
      color: $dark-green !important;
    }

    .button {
      color: $dark-green;

      svg {
        margin-left: 12px;
        transform: translateY(2px);
      }
    }
  }

  .contact_form {
    background: none;
    padding: 0;
  }
  
}